<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de ventas</title>
    <!-- Agregar referencia al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlace al archivo CSS -->
</head>
<body style="background-color: #78281F;">
    <div class="container mt-4" style="background-color: #FDEDEC;border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <fieldset  style="border: 2px;border-radius: 5px;padding: 10px;">
            <button type="button" class="btn btn-primary mr-2" onclick="index()">Regresar</button>
            <script>
                function index() {
                    // Cambiar la URL actual
                    window.location.href = 'http://127.0.0.1:8000/';
                }
            </script>
            <button type="button" class="btn btn-info" onclick="VerClientes()">Ver Clientes</button>
            <button type="button" class="btn btn-info" onclick="EliminarCliente()">Eliminar Cliente</button>
            <script>
                function VerClientes() {
                    // Cambiar la URL actual
                    window.location.href = 'http://127.0.0.1:8000/Cliente/clientes/';
                }
            </script>
            <script>
                function EliminarCliente() {
                    // Cambiar la URL actual
                    window.location.href = 'http://127.0.0.1:8000/Cliente/eliminar/';
                }
            </script>
        </fieldset>
    </div>
    <div class="container mt-4" style="background-color: #FDEDEC;border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1>Punto de venta</h1>
        <fieldset  style="border: 2px solid #000;border-radius: 5px;padding: 10px;">
            <legend>Agregar Cliente:</legend>
            <!-- Formulario de Cliente -->
            <form action="{% url 'agregar_cliente' %}" method="post">
                {% csrf_token %}
                <!-- Campos del formulario -->
                <label for="NIT">N° de NIT:</label>
                <input type="text" class="form-control" id="NIT" name="nit" required>
            
                <!-- Otros campos del formulario también necesitan el atributo `name` -->
                <label for="DPI">N° de DPI:</label>
                <input type="text" class="form-control" id="DPI" name="dpi" required>
                
                <label for="Nombre">Nombre:</label>
                <input type="text" class="form-control" id="Nombre" name="nombre" required>
                
                <label for="Direccion">Direccion:</label>
                <input type="text" class="form-control" id="Direccion" name="direccion" required>
                
                <label for="Correo">Correo:</label>
                <input type="text" class="form-control" id="Correo" name="correo" required>
            
                <!-- Botón para enviar el formulario -->
                <button type="submit" class="btn btn-success mr-2">Agregar</button>
            </form>
        </fieldset>
    </div>
    
    <!-- Agregar referencia al archivo JavaScript de Bootstrap (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>