<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de ventas</title>
    <!-- Agregar referencia al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #78281F;">
    <div class="container mt-4" style="background-color: #FDEDEC; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <fieldset style="border: 2px; border-radius: 5px; padding: 10px;">
            <button type="button" class="btn btn-primary mr-2" onclick="index()">Regresar</button>
            <script>
                function index() {
                    // Cambiar la URL actual
                    window.location.href = 'http://127.0.0.1:8000/';
                }
            </script>
            <button type="button" class="btn btn-info" onclick="VerFacturas()">Crear factura</button>
            <script>
                function VerFacturas() {
                    // Cambiar la URL actual
                    window.location.href = 'http://127.0.0.1:8000/Venta/';
                }
            </script>
        </fieldset>
    </div>
    <div class="container mt-4" style="background-color: #FDEDEC; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1>Listado de Facturas</h1>
        <fieldset>
            <table style="background-color: #EBEDEF; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border: 2px solid #000;">
                <thead>
                    <tr>
                        <th style="border: 2px solid #000; border-radius: 5px;">Número de Factura</th>
                        <th style="border: 2px solid #000; border-radius: 5px;">Nombre Cliente</th>
                        <th style="border: 2px solid #000; border-radius: 5px;">NIT</th>
                        <th style="border: 2px solid #000; border-radius: 5px;">Total</th>
                        <th style="border: 2px solid #000; border-radius: 5px;">Productos</th>
                        <!-- Agregar más encabezados si es necesario -->
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td style="border: 2px solid #000; border-radius: 5px;">{{ factura.numeroFactura }}</td>
                            <td style="border: 2px solid #000; border-radius: 5px;">{{ factura.nombre }}</td>
                            <td style="border: 2px solid #000; border-radius: 5px;">{{ factura.nit }}</td>
                            <td style="border: 2px solid #000; border-radius: 5px;">{{ factura.total }}</td>
                            <td style="border: 2px solid #000; border-radius: 5px;">{{ factura.productos }}</td>
                            <!-- Agregar más columnas si es necesario -->
                        </tr>
                    {% endfor %}
                </tbody>
        </fieldset>
    </div>
</body>
</html>