<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de ventas</title>
    <!-- Agregar referencia al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlace al archivo CSS -->
</head>
<body style="background-color: #78281F;">
    <div class="container mt-4" style="background-color: #FDEDEC;border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1>Punto de venta</h1>
    </div>
    <div class="container mt-4" style="background-color: #FDEDEC;border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        
        <fieldset  style="border: 2px solid #000;border-radius: 5px;padding: 10px;">
            <legend>Producto top:</legend>
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">     
        </fieldset>     
    </div>
    <div class="container mt-4" style="background-color: #FDEDEC;border-radius: 10px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <fieldset  style="border: 2px solid #000;border-radius: 5px;padding: 10px;">
            <legend>Cliente top:</legend>
            <img src="ruta/a/tu/imagen.jpg" alt="Descripción de la imagen">     
        </fieldset>     
    </div>
    
    <!-- Agregar referencia al archivo JavaScript de Bootstrap (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

